
@{
    ViewBag.Title = "Add User";
}
@model MVCClient.Models.EmployeeModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmployee</title>
</head>
<body>
    <h2>Add Employee</h2>
    <div>
        @using (Html.BeginForm("SubmitEmployee", "Home", FormMethod.Post))
        {
            <form>
                <div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name)
                    @* @Html.Hidden("Emplname", Model.Empname)*@

                    @Html.LabelFor(model => model.Designation)
                    @Html.TextBoxFor(model => model.Designation)
                    @* @Html.Hidden("Emplid", Model.EmpId)*@

                    
                    <input type="submit" id="submitId" value="submit" />

                </div>
            </form>
        }
        </div>

</body>
</html>
